<div id="corpo" class="container">
    <div class="page-header">
        <div class="row">
            <div class="col-xs-12 col-sm-9">
                <h2>Receitas</h2>
            </div>
            <div class="col-xs-12 col-sm-3">
                <a href="cadastrar-receita.html" class="btn btn-primary btn-sm pull-right">
                    Cadastrar Receita
                    <i class="fa fa-plus"></i>
                </a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <table id="table-lista-ingredientes" class="table table-condensed table-responsive">
                <thead>
                    <tr>
                        <th style="width: 100%">Receita</th>
                        <th>Editar</th>
                        <th>Excluir</th>
                    </tr>
                </thead>
                <tbody>
                    <tr  *ngFor="let rec of records">
                        <td>Bolo de chocolate</td>
                        <td>
                            <button class="btn btn-default no-border">
                                <i class="fa fa-edit"></i>
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-default no-border">
                                <i class="fa fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>