<div id="corpo" class="container">
    <div class="page-header">
        <div class="row">
            <div class="col-xs-12 col-sm-9">
                <h2>Receitas</h2>
            </div>
            <div class="col-xs-12 col-sm-3">
                <button (click)="novaReceita()" class="btn btn-primary btn-sm pull-right">
                    Cadastrar Receita
                    <i class="fa fa-plus"></i>
                </button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
                <thead>
                    <tr>
                        <th style="width: 30%; text-align: center;">Receita</th>
                        <th style="width: 15%; text-align: center;">Preco</th>
                        <th style="width: 35%; text-align: center;">Data Cadastro</th>
                        <th style="text-align: center;">Editar</th>
                        <!-- <th style="text-align: center;">Excluir</th>-->
                    </tr>
                </thead>
                <tbody>
                    <tr  *ngFor="let rec of records">
                        <td style="text-align: center;">{{rec.nome}}</td>
                        <td style="text-align: center;">{{rec.preco}}</td>
                        <td style="text-align: center;">{{rec.dataCadastro}}</td>
                        <td style="text-align: center;">
                            <button class="btn btn-default no-border" (click)="edtarReceita(rec)"><i class="fa fa-edit"></i></button>
                        </td>
                        <!--<td style="text-align: center;">
                            <button class="btn btn-default no-border"><i class="fa fa-trash"></i></button>
                        </td>-->
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>