<!-- /.modal -->
<div class="modal fade" id="modal-detalhes-1" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title">
          {{boloClicado.nome}}          
        </h4>
      </div>
      <div class="modal-body">
        <div class="row">

          <div class="col-md-6 col-md-push-6 col-xs-12 col-xs-push-0">
            <div>
                <img src={{boloClicado.imagem}} >
                <p>
                    {{boloClicado.descricao}}
                </p>
            </div>
            

            <div class="panel panel-primary">
              <div class="panel-heading">
                <i class="fa fa-user"></i>
                Confeiteiro
              </div>
              <div class="panel-body">
                <ul style="list-style: none; padding: 0;">
                  <li>
                    <i class="fa fa-phone"></i> {{usuario.telefoneFixo}}</li>
                  <li>
                    <i class="fa fa-envelope"></i> {{usuario.email}}</li>
                </ul>

              </div>
            </div>

          </div>

          <div class="col-md-6 col-md-pull-6 col-xs-12 col-xs-pull-0">

            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-seedling"></i> Ingredientes</h3>
              </div>
              <div class="panel-body">

                <ul>
                  <ng-template ngFor let-ing [ngForOf]="boloClicado.ingredienteReceitas">
                    <li>{{ing.nome}}</li>
                  </ng-template>
                </ul>

              </div>
            </div>
            <ul class="list-group">
                <li class="list-group-item">
                  <i class="fa fa-check text-success"></i> Sem glúten</li>
                <li class="list-group-item">
                  <i class="fa fa-check text-success"></i> Sem lactose</li>
              </ul>
          </div>

          <div class="col-xs-12 col-md-3">

          </div>

        </div>
      </div>
      <div class="modal-footer">
        <span class="label label-success pull-left" style="margin-right: 10px; font-size: 30px">{{boloClicado.preco | currency:'BRL':true:'1.2-2' }}</span>
        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>        
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->