<a (click)="abrirChat()" data-toggle="modal" data-target="#myModal2" class="btn-primary" target="_blank" id="btnChamaModalChat">
    <i style="margin-top:16px" class="fa fa-comments"></i>
</a>


    <!-- Modal -->
    <div class="modal right fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel2">Chat</h4>
                </div>

                <div class="modal-body">
                    <iframe src="http://ec2-52-67-33-21.sa-east-1.compute.amazonaws.com:4000"></iframe>
                </div>

            </div><!-- modal-content -->
        </div><!-- modal-dialog -->
    </div><!-- modal -->
 