<div id="corpo" class="container">
   <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
  <div class="page-header">
    <h2>Cadastro de Receita</h2>
  </div>
  <div class="row">
    <form [formGroup]="formularioReceita">
      <div class="col-xs-12 col-md-7">
        <div class="row">
          <div class="form-group col-xs-12 col-md-8">
            <label for="txtNomeReceita">Nome da Receita</label>
            <input type="text" class="form-control" id="nomeReceita" placeholder="Bolo de ..." formControlName="nome">
          </div>
          <div class="form-group col-xs-12 col-md-4">
            <label for="txtNomeReceita">Preço</label>
            <input type="text" class="form-control" id="precoReceita" placeholder="R$" formControlName="preco">
          </div>
        </div>
        <div class="form-group">
          <div class="checkbox">
            <label><input id="cbAtivo" checked="checked" type="checkbox" value="" formControlName="ativo">Receita
              Ativa</label>
          </div>
        </div>
        <div class="form-group">
          <label for="txtDescricaoReceita">Breve descrição</label>
          <textarea id="txtDescricaoReceita" class="form-control" placeholder="Escreva uma breve descrição"
            formControlName="descricao"></textarea>
        </div>
        <div class="row">
          <div class="form-group col-xs-12 col-md-6">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-seedling"></i> Ingredientes
                  <button type="button" class="btn btn-xs btn-default no-border pull-right" data-toggle="modal"
                    data-target="#modal-ingredientes" role="button">
                    Selecionar
                  </button>
                </h3>
              </div>
              <div class="panel-body">
                <ul>
                  <ng-template ngFor let-rec [ngForOf]="listaIngedientesReceita">
                    <li>{{rec.nome}}</li>
                  </ng-template>
                </ul>
              </div>
            </div>
          </div>
          <div class="form-group col-xs-12 col-md-6">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-list"></i> Classificação
                  <button type="button" class="btn btn-xs btn-default no-border pull-right" data-toggle="modal"
                    data-target="#modal-classificacoes" role="button">
                    Selecionar
                  </button>
                </h3>
              </div>
              <div class="panel-body">
                <ul>
                  <ng-template ngFor let-rec [ngForOf]="listaClassificacaoReceita">
                    <li>{{rec.nome}}</li>
                  </ng-template>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-5">         
        <div id="foto-receita" class="well" style="height: 325px">
          <img src="{{imagem}}">
        </div>
        <h3 class="lead">
          <label class="fileContainer">
            <button class="btn btn-primary default no-border" >Carregar Imagem
              <i class="fas fa-upload"></i>
            </button>
            <input type="file"  (change)="selectFile($event)"/>
          </label>
        </h3>
      </div>
      <div class="col-xs-12">
        <button type="button" class="btn btn-default no-border" (click)="cancelarCadastro()">Cancelar</button>
        <button type="submit" class="btn btn-primary default no-border" (click)="salvarCadastroReceita()">Salvar
          <i class="fa fa-paper-plane"></i>
        </button>
        <br>
        <br>
      </div>
     </form>
  </div>
</div>



<!-- Inicio Modal Ingredientes   -->

<div class="modal fade" id="modal-ingredientes" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">×</span></button>
        <h4 class="modal-title"><i class="fa fa-seedling"></i> Selecione os ingredientes desta receita</h4>
      </div>
      <div class="modal-body">
        <p>
          Selecionar os ingredientes da sua receita é importante para que pessoas com restrições alimentares saibam
          quais receitas não são prejucidiais à sua saúde.
        </p>
        <hr>
        <app-blucake-listbox [source]="todosIngreditentes" [(destination)]="listaIngedientesReceita" height="350px"
          (selectChange)="showMessage($event)" sourceName="Lista Ingredientes" targetName="Ingredientes Receita"
          [sort]="true" key="id" display="nome" filter="true"></app-blucake-listbox>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>

<!-- Fim modal ongreditemtes -->

<div class="modal fade" id="modal-classificacoes" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">×</span></button>
        <h4 class="modal-title"><i class="fa fa-list"></i> Selecione as classificações da sua receita</h4>
      </div>
      <div class="modal-body">
        <p>
          Selecionar as classificações da sua receita é importante para que pessoas com restrições alimentares saibam
          qual receita escolher. Além de a sua receita ser achada com mais facilidade através de filtros de busca.
        </p>
        <hr>
        <ul style="list-style: none;">
          <li>
            <div class="checkbox">
              <label><input type="checkbox" value=""
                  (click)="selecionarClassificacao({id:1, nome: 'Diet', check: ''}, $event)">Diet</label>
            </div>
          </li>
          <li>
            <div class="checkbox">
              <label><input type="checkbox" value=""
                  (click)="selecionarClassificacao({id:2, nome: 'Light', check: ''}, $event)">Light</label>
            </div>
          </li>
          <li>
            <div class="checkbox">
              <label><input type="checkbox" value=""
                  (click)="selecionarClassificacao({id:3, nome: 'Vegetariana', check: ''}, $event)">Vegetariana</label>
            </div>
          </li>
          <li>
            <div class="checkbox">
              <label><input type="checkbox" value=""
                  (click)="selecionarClassificacao({id:4, nome: 'Vegana', check: ''}, $event)">Vegana</label>
            </div>
          </li>
          <li>
            <div class="checkbox">
              <label><input type="checkbox" value=""
                  (click)="selecionarClassificacao({id:5, nome: 'Sem Glúten', check: ''}, $event)">Sem Glúten</label>
            </div>
          </li>
          <li>
            <div class="checkbox">
              <label><input type="checkbox" value=""
                  (click)="selecionarClassificacao({id:6, nome: 'Sem Lactose', check: ''}, $event)">Sem Lactose</label>
            </div>
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>