<div id="corpo" class="container-fluid">
  <div class="row">

    <div class="col-xs-12" style="padding: 0">

      <img src="../../assets/Banner.png" style="max-width:  100%">
    </div>

    <div class="col-xs-12 col-md-2">
      <!-- <form> -->
      <div class="row">
        <div class="col-md-12 col-sm-3 form-group">
          <h5>Filtros: </h5>
          <input type="text" class="form-control" id="txtBuscaGeral" placeholder="Descrição"
            (input)="filtroDigital($event.currentTarget.value)">
          <h5>Ordenar por: </h5>
          <a (click)="filtrarMenorPreco()">Menor preço</a>
          <br>
          <a (click)="filtrarMaiorPreco()">Maior preço</a>
        </div>
      </div>
      <!-- </form> -->
    </div>
    <div class="col-xs-12 col-md-10">
      <ng-template ngFor let-rec [ngForOf]="records">
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="thumbnail">
            <div>
              <img src={{rec.imagem}}>
            </div>

            <div class="caption">
              <h3 style="margin-bottom: 10px">{{rec.nome}}</h3>
              <span class="lead label label-success" style="font-size: 18px">{{rec.preco | currency:'BRL':true:'1.2-2'}}</span>
              <br>
              <br>
              <div class="text-center">
                <div>
                  <button type="button" class="btn btn-default no-border" (click)="boloSelecionado(rec)"
                    data-toggle="modal" data-target="#modal-detalhes-1" role="button"><i
                      class="fa fa-list"></i>Detalhes</button>

                  <button type="button" class="btn btn-default no-border" data-toggle="modal"
                    data-target="#modal-contato-confeiteiro" role="button" (click)="boloSelecionado(rec)">
                    Contato
                    <i class="fa fa-envelope"></i>
                  </button>

                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</div>

<app-blucake-home-detalhe></app-blucake-home-detalhe>

<app-blucake-enviar-email></app-blucake-enviar-email>