<div id="corpo" class="container-fluid">
  <div class="row">

    <div class="alert alert-danger col-xs-12">
      AQUI TEM ALGUM CONTEÚDO LEGAL, SÓ NÃO TENHO ELE AINDA.
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
    </div>

    <div class="col-xs-12 col-md-2">
      <!-- <form> -->
      <div class="row">
        <div class="col-md-12 col-sm-3 form-group">
          <input type="text" class="form-control" id="txtBuscaGeral" placeholder="Busca"
            (input)="filtroDigital($event.currentTarget.value)">
        </div>
        <div class="col-md-12 col-sm-3 form-group">
          <select  class="form-control"  title="Classificação do Bolo">
            <option>Diet</option>
            <option>Light</option>
            <option>Vegetariana</option>
            <option>Vegana</option>
            <option>Sem Glúten</option>
            <option>Sem Lactose</option>
          </select>

        </div>
      </div>
      <!-- </form> -->
    </div>
    <div class="col-xs-12 col-md-10">
      <ng-template ngFor let-rec [ngForOf]="records">
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="thumbnail">
            <div>
              <img src={{rec.imagem}}>
              <div class="icones-classificacao">
                <span class="label label-success label-lg" title="Vegano"><i class="fa fa-leaf"></i></span>
                <span class="label label-warning label-lg" title="Sem Glutén"><i class="fa fa-seedling"></i></span>
              </div>
            </div>

            <div class="caption">
              <h3>{{rec.nome}}</h3>
              <span class="lead label label-success">{{rec.preco | currency:'BRL':true:'1.2-2'}}</span>
              <br>
              <br>
              <div class="text-center">
                <div>
                  <button type="button" class="btn btn-default no-border" (click)="boloSelecionado(rec)" data-toggle="modal"
                    data-target="#modal-detalhes-1" role="button"><i class="fa fa-list"></i>Detalhes</button>

                    <button type="button" class="btn btn-default no-border" data-toggle="modal" data-target="#modal-contato-confeiteiro"
                    role="button" (click)="boloSelecionado(rec)">
                    Contato
                    <i class="fa fa-envelope"></i>
                  </button>
                 
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</div>

<app-blucake-home-detalhe></app-blucake-home-detalhe>

<app-blucake-enviar-email></app-blucake-enviar-email>







